header {
    background-image: url(../../images/estados-css/paraná.jpg);
    height: 60vh;
    padding: 50px 0;
    background-size: cover;
    background-position-y: center;
}

header div {
    width: 28%;
    min-width: 300px;
    background-color: #02330e;
    padding: 60px 50px;
    box-sizing: border-box;
    margin-left: 10%;
}

header h1, p{
    margin: 0;
    text-align: center;
    color: white;
}

header p {
    border-bottom: 1px solid white;
}

.btn1 {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 1px;
    transition: all 0.3s;
}

.btn1:hover {
    color: rgb(0, 0, 0);
    border: 1px solid black;
    background-color: #02330e;
}

.btn2 {
    text-decoration: none;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    padding: 1px;
    transition: all 0.3s;
}

.btn2:hover {
    color: rgb(0, 0, 0);
    border: 1px solid black;
    background-color: #02330e;
}

.btn3 {
    text-decoration: none;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    padding: 1px;
    transition: all 0.3s;
}

.btn3:hover {
    color: rgb(0, 0, 0);
    border: 1px solid black;
    background-color: #02330e;
}